<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:include="fragments/head :: head"></div>

</head>

<body>

    <div th:include="fragments/navigation :: navigation"></div>


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/includes/clean-blog/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 th:text="${configuration.blogTitle}"></h1>
                        <hr class="small"></hr>
                        <span class="subheading" th:text="${configuration.blogTagLine}"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div th:each="post : ${posts}">
                    <div class="post-preview">
                        <a th:href="'/post/' + ${#dates.format(post.postDate,'yyyy/MM/dd')} + '/' + ${post.postName}">
                            <h2 class="post-title" th:text="${post.postTitle}"/>
                            <h3 class="post-subtitle" th:utext="${post.postContents}"/>
                        </a>
                        <p class="post-meta">Posted by <a th:href="'/user/' + ${post.postUser.userName}" th:text="'@'+${post.postUser.userName}"></a>
                            on
                            <a th:href="'/post/' + ${#dates.format(post.postDate, 'yyyy')} + '/' + ${#dates.format(post.postDate, 'MM')} + '/' + ${#dates.format(post.postDate,'dd')}"><span th:text="${#dates.format(post.postDate,'dd')}" th:remove="tag"></span></a>-<a th:href="'/post/' + ${#dates.format(post.postDate,'yyyy')} + '/' + ${#dates.format(post.postDate,'MM')}"><span th:text="${#dates.format(post.postDate,'MMM')}" th:remove="tag"></span></a>-<a th:href="'/post/' + ${#dates.format(post.postDate, 'yyyy')}"><span th:text="${#dates.format(post.postDate,'yyyy')}" th:remove="tag"></span></a>
                            at <span th:text="${#dates.format(post.postDate, 'HH:mm')}" th:remove="tag"></span>
                        </p>
                    </div>
                    <hr></hr>
                </div>

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a th:href="'/post/page/' + ${nextpage}">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr></hr>

    <!-- Footer -->
    <footer>

        <div th:include="fragments/footer :: footer"></div>

    </footer>


</body>

</html>
