<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:include="fragments/head :: head"></div>

</head>

<body>

<div th:include="fragments/navigation :: navigation"></div>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/includes/clean-blog/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 th:text="${configuration.blogTitle}"></h1>
                    <hr class="small"></hr>
                    <span class="subheading" th:text="${configuration.blogTagLine}"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form th:object="${configuration}" th:action="@{/admin/general}" method="POST">
                <div class="form-group row">
                    <label for="blogTitle" class="col-2 col-form-label">Blog Title</label>
                    <div class="col-10">
                        <input class="form-control" type="text" th:value="${configuration.blogTitle}" th:field="*{blogTitle}" userId="blogTitle"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="blogTagLine" class="col-2 col-form-label">Blog Tag Line</label>
                    <div class="col-10">
                        <input class="form-control" type="text" th:value="${configuration.blogTagLine}" th:field="*{blogTagLine}" userId="blogTagLine"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="blogBaseURL" class="col-2 col-form-label">Blog Base URL</label>
                    <div class="col-10">
                        <input class="form-control" type="text" th:value="${configuration.blogBaseURL}" th:field="*{blogBaseURL}" userId="blogBaseURL"/>
                    </div>
                </div>

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>

    <div th:include="fragments/footer :: footer"></div>

</footer>

</body>
</html>